*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  font-size: 10px;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
}

.NavBar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
}

.NavBar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 50px;
}

.NavBar .a:hover {
  background-color: #ddd;
  color: black;
}

.NavBar .active {
  background-color: #04aa6d;
  color: white;
}

.Post {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border: black 2px solid;
  background-color: #eee;
}
.Clothing {
  width: 135px;
  height: 180px;
}

.Description {
  font-size: 1.1rem;
  margin: 0.3rem;
  max-width: 135px;
}

h1 {
  text-align: center;
  color: black;
  align-self: center;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-clothing {
  width: 300px;
  height: auto;
}
.modal-Description {
  font-size: 23px;
}
.inner-modal {
  background-color: white;
  width: 400px;
  height: 500px;
  align-self: center;
  margin: 5px;
  padding: 5px;
  filter: drop-shadow(10px 12px 0.75rem black);
}
.closing-button {
  cursor: pointer;
  float: left;
  margin: 5px;
  font-size: 50px;
  color: black;
  transform: rotateZ(45deg);
}

.closing-button:hover {
  color: red;
}

.modal-off {
  display: none;
}
.happy-people {
  width: 80%;
}

.picture-container {
  text-align: center;
}
.title {
  color: white;
  font-family: Sans-Serif;
  padding-right: 5px;
}

.add-cart {
  align-items: center;
  appearance: button;
  background-color: black;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 8px 15px;
  padding-bottom: 5px;
  text-align: center;
  user-select: none;
}

.add-cart:active {
  background-color: #04aa6d;
}

.add-cart:hover {
  background-color: #04aa6d;
}
